<!DOCTYPE html>
<html lang="en">
<head>
    <title>Coffee 120</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {#    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

</head>
<body>


{% if request.MOBILE %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">COFFEE 120</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Language
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/change_lang?lang=укр">Українська</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/change_lang?lang=рус">Руссский</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/change_lang?lang=eng">English</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
{% else %}
    <nav class="navbar navbar-expand-xl bg-dark navbar-dark">


        <div class="navbar-header">
            <a class="navbar-brand ml-auto" href="">COFFEE 120</a>
        </div>

        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">

            <ul class="navbar-nav ml-auto">

                {% if active == 'укр' %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/change_lang?lang=укр">Укр</a>
                </li>

                {% if active == 'рус' %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/change_lang?lang=рус">Рус</a>
                </li>

                {% if active == 'eng' %}
                    <li class="nav-item active">
                        {% else %}
                    <li class="nav-item">
                {% endif %}
                <a class="nav-link" href="/change_lang?lang=eng">Eng</a>
                </li>
            </ul>
        </div>
    </nav>
{% endif %}






{% if message %}
    <script>
        alert('{{message}}');
    </script>
{% endif %}

<div class="container">

    {% block content %}<br>
        <h1>Welcome page</h1>
    {% endblock %}

</div>

</body>
</html>
